
#wrap{
    /* Standard size */
    width : 1024px; 
    /* Center the block */
    margin:0 auto;
}
body{
    padding-top:20px;
    background-color: rgb(250, 216, 221);  
    background: linear-gradient(to bottom, rgb(135, 179, 255), rgb(246, 248, 194));
    background-repeat: no-repeat;
    background-size: cover;
}
ul{
    list-style : none;
    padding : 0px;
    margin : 0px;
    text-align: right;
    font-size: 12px;
    line-height: .7;
    color: black;
}
.nav{
    position: relative;
    text-align: right;
    padding-right: 40%;
}
nav ul a:visited{
    color : darkblue;
}

nav ul a:focus{
    color : royalblue;
    outline-color: teal;
}

nav ul a:hover{
    color : blueviolet;
}

nav ul a:active{
    background : blueviolet;
    color : white;
}
td{
    vertical-align: top;
    text-align: left;
    
}
h1{
    text-align: right;
    margin-top: 0;
    margin-bottom: 10;
    font-family: 'Lemon Milk';
}
nav ul a:link{
    text-decoration : none;
    font-family: 'Lemon Milk';
}

@font-face {
    font-family: 'Lemon Milk';
    src: url('../fonts/LEMONMILK-Regular.otf') format('opentype');
}
@font-face{
    font-family: "Lemon Milk Light";
    src: url('../fonts/LEMONMILK-Light.otf') format('opentype');
}


