
body,h1,h2,h3,h4,h5 {
    font-family: "Poppins", sans-serif;
}
body {
    font-size:16px;
    margin-bottom: 3%;
    
}
.grid-item img{
    margin-bottom:0px;
    margin-top:16px;
    opacity:0.8;
    cursor:pointer;
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    display: block;
}
.grid-item a, h4{
    width:100%;
    display: flex; /* This will align images in a row if multiple images are inside */
    flex-wrap: wrap; /* Allow images to wrap if there are many */
    justify-content: center;
    
}

.grid-item img:hover{
    opacity:1;
}

.grid-item h4{
    margin-top: 25px;
}
/* Sidebar container */
.sidebar {
  position: fixed;
  top: 0;
  left: -250;
  width: 250px;
  height: 100%;
  background-color: #b6a0fe; /* Red color */
  font-weight: bold;
  padding: 16px;
  z-index: 1000;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  transition: left 0.3s ease;
}

/* Close button */
.closeSidebarBtn {
  display: block; /* Hidden by default, shown on small screens */
  width: 100%;
  font-size: 20px;
  background-color: transparent;
  color: white;
  text-align: left;
  border: none;
  padding: 8px;
  cursor: pointer;
}

body.sidebar-open {
    margin-top: 20px; /* Push the page content when sidebar is open */
  }
/* Header container */
.header{
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    z-index: 1000;
  }
  
/* Menu button */
.menu-button {
background-color: transparent;
color: white;
border: none;
font-size: 20px; /* Icon size */
cursor: pointer;
margin: 6px; /* Space between the button and the company name */
}

.menu .resumeBtn{
    margin:10px;
}


.name h3{
margin:20px;
}
.header .title{
    color: black;
}

.header .subtitle{
    color:#7018fd;
}

#openSidebarBtn{
    margin: 20px;
}
  
  /* Company name */
.name {
font-size: 20px; /* Adjust font size */
font-weight: bold;
white-space: nowrap; /* Prevent wrapping */
text-align: left;
}
.resume{
    margin-top: 20px;
}
  
/* Header styling */
.header h3 {
  padding: 10px 0;
  margin: 0;
  font-size: 24px;
  color: white;
  text-align: center;
  line-height: 1.5;
}

/* Menu links */
.menu {
  flex-grow: 1; /* Pushes content to the bottom if needed */
}

.menu-item {
  display: block;
  padding: 12px 16px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s;
}

.menu-item:hover {
  background-color: #ff7961; /* Slightly lighter red */
}
.section{
    padding: 5px;
}
.send{
    margin-top: 15px;
}

/* Responsive design for small screens */
@media (max-width: 768px) {
  .closeBtn {
    display: block; /* Show close button on small screens */
  }
}
